{% extends 'layout.html' %}
{% block myBlock %}
<div class="contain leftrighttop">
        <div class="row leftrighttop wlabel">
                <div class="col-sm-12 font-weight-light wregisterlabel">
                <label>ABOUT US</label>
        </div>
</div>
<div class="row">
        <div class="col-sm-12">
                <h4><b> What is ICT Academy of Kerala?</b></h4>
        </div>
</div>
<div class="row">
                <div class="col-sm-12">
                <p>
                        <h6>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry.
                         </h6>
                </p>
                </div>
        </div>

<div class="row">
        <div class="col-sm-12">
                <h4><b>Vision</b></h4>
        </div>
</div>
<div class="row">
                <div class="col-sm-12">
                <p><h6>To emerge as the single-point establishment for all the ICT related capability building in the State
                        </h6>
                </p>
                </div>
        </div>
        <div class="row">
                        <div class="col-sm-12">
                                <h4><b>Our Key Focus Areas</b></h4>
                        </div>
                </div>
                <div class="row">
                <div class="col-sm-12">
                <ol type="a">
                        <li>
                        <p><h6>Industry focused enablement programs for Faculty members
                        </h6></p>
                        </li>
                        <li>
                                        <p><h6>Industry focused ICT Skills development program for Students
                                                </h6></p>            
                        </li>
                        <li>
                                        <p><h6>Industry collaborated Research and Projects assistance to academic institutions
                                                </h6></p>
                        </li>
                         <li>
                                        <p><h6>Project assignments related to capability building for Institutions and Corporate
                                                </h6></p>                                           
                        </li>
                        <li>
                                        <p><h6> Creating Intellectual Property on niche skill areas and emerging technologies
                                                </h6></p>                                        
                        </li>
                </ol>
                </div>
                </div>
                <hr>
                <div class="row wlabel">
                        <div class="col-sm-12 wregisterlabel">
                <label>
                        CONTACT US        
                </label>
                        </div>
                </div>  
                <hr>
        <ul class="ullist">
                <li>
                ICT Academy of Kerala, Module No.L-9,
                </li>
                <li>
                Thejaswini Building, Technopark,Trivandrum
                </li>
                 <li>
                Telephone: +91 471 2700 811
                </li>
                <li>
                Fax: +91 471 2700 812 
                 </li>
                <li>
                Email: info@ictkerala.org
                </li>
        </ul>
        </div>
        {% endblock %}